# -*- mode: snippet -*-
# name: R figure
# key: Rfig_
# contributor: Giuseppe Ragusa <gragusa@luiss.it>
# group: org-mode
# --
#+begin_src R :session :results output graphics :exports results :file ${1:fname}
$0
#+end_src

#+ATTR_LATEX: :width 3in :center :float figure 
#+RESULTS:

