# -*- mode: snippet; require-final-newline: nil -*-
# name: Rtab
# key: Rtab_
# binding: direct-keybinding
# group: org-mode
# --
#+begin_src R :session :exports results :colnames ${1:$$(yas-choose-value '("true" "false"))} :rownames ${2:$$(yas-choose-value '("true" "false"))}
$3
#+end_src

#+RESULTS:


