# -*- mode: snippet; require-final-newline: nil -*-
# name: twocol
# key: twocol
# group: org-mode
# binding: direct-keybinding
# --

*** Col left																																																										:BMCOL:
   :PROPERTIES:
   :BEAMER_col: 0.45
   :END:

*** Col right																																																									:BMCOL:
   :PROPERTIES:
   :BEAMER_col: 0.45
   :END:
